body{
    margin: 0px;
}

main{
    background-color: blue;
    margin: 0px auto;
    padding: 20px;

    height: 300px;
    width: 90%;

    /* max-width: 300px; */
    min-width: 300px;
}

input{
    width: 100%;
}